@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{   
    height: 500px;
    display: flex;
    background-color: rgb(210, 208, 208);
    flex-direction: row; /*? row, row-reverse, column,column-reverse*/
   
    justify-content: center;/* todo centralizar | flex-start;alinha pelo inicio | space-between;  afastamento | space-around;espaços entre eles | flex-end: alinha pelo final*/
     
    align-items: baseline;/* todo flex-start: top | flex-end: bottom | center: meio | stretch | esticar todo espaço| baseline: alinha conteúdo |*/

    flex-wrap: wrap; /*todo: caber numa linha */ 
    /*todo wrap: quebra a linha | wrap-reverse: quebrar para cima | */

    align-content: flex-start;/*todo: alinhar linhas */
    /*todo flex-start; inicio da linha | flex-end: final | center; centro | space-between: afastar | space-around: ao redor  */

gap: 10px 40px ;/*todo: espaço entre eles| shorthand gap> row-gap e column-gap  */
}
div{
    padding: 10px;
    width:   50px;
    height:  50px;
    border-radius: 10px;
    text-align: center;   
    background-color: rgba(212, 109, 233, 0.816)
}
.bloco-1 {
    background-color: rgb(144, 202, 238);
}
.bloco-2 {
    background-color: rgba(224, 194, 124, 0.832);
}
